.Rproj.user
.Rhistory
.RData
.Ruserdata

.venv/
__pycache__/
*.pyc


.DS_Store

dataTanaka/

# https://github.com/KCGallagher/AT_Model_Comparison
AT_Model_Comparison/

todo

AT_costOfResistance_LVModel/
sbc_swithc_lookup*
sbc_single_patient.Rmd
Rplots.pdf